body {
    src: url(cup-hot-coffee-latte-table-cafe-with-shallow-depth-field_258743-129.avif);
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
    align-content: center;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }
  
  h3 {
    margin: 0;
  }
  
  .price {
    font-weight: bold;
  }
  
  footer {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  